Importing Libraries

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

Importing Data

In [21]:
Titanic_Train = pd.read_csv("https://github.com/Esai-Keshav/titanic-survival-prediction/blob/9d6a9a733c6c1edd0378a757bb1fd9cfee363a05/data/train.csv")
Titanic_Test = pd.read_csv("https://github.com/Esai-Keshav/titanic-survival-prediction/blob/9d6a9a733c6c1edd0378a757bb1fd9cfee363a05/data/train.csv")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 38, saw 2

View Train and Test File

In [8]:
print(Titanic_Train.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [ ]:
print(Titanic_Test.head())

Columns that do not matter: Name, Ticket, Cabin, Embarked. Remove these columns.
Convert <Sex> column into numbers (<male = 0> and <female = 1>).
Move <Survived> column to the end.

Data Processing

In [11]:
# 1. Dropping unnecessary columns
Titanic_Train_edited = Titanic_Train.drop(columns=["Name", "Ticket", "Cabin", "Embarked"])

# 2. Converting 'Sex' column to numeric (male=0, female=1)
Titanic_Train_edited["Sex"] = Titanic_Train_edited["Sex"].map({"male": 0, "female": 1})

# 3. Moving 'Survived' column to the end
survived = Titanic_Train_edited.pop("Survived")
Titanic_Train_edited["Survived"] = survived

print(Titanic_Train_edited.head())

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Survived
0            1       3    0  22.0      1      0   7.2500         0
1            2       1    1  38.0      1      0  71.2833         1
2            3       3    1  26.0      0      0   7.9250         1
3            4       1    1  35.0      1      0  53.1000         1
4            5       3    0  35.0      0      0   8.0500         0